<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Scheduler</title>
<!-- Bootstrap core CSS -->
<link href="/static/b/css/bootstrap.min.css"
rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>
<div class="container">
<div class="row">
    <div class="col-md-12">{% block topbar %} {% endblock %}</div>
</div>

<div class="row">
{% block buttonbar %}
    <div class="col-md-1">
        <a href="{% url 'index' %}" role="button" class="btn btn-info bt-lg">Scheduler</a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'clientIndex' %}" role="button" class="btn btn-primary">Clients</a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'displayThisMonth' %}" role="button" class="btn btn-primary">Calendar</a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'gapIndex' %}" role="button" class="btn btn-primary">Gaps</a>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-1">
        <a href="{% url 'miscIndex' %}" role="button" class="btn btn-primary">Misc</a>
    </div>
{% endblock %}
</div>

<div class="row">
    <div class="col-lg-12">
    <hr>
    </div>
</div>

<div class="row">
    {% block subbuttonbar %}
    {% endblock %}
</div>


<div class="row">
<div class="col-md-10">
{% block content %}
ContentBlock
{% endblock %}
</div>
</div>

<div class="row">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% if debug %}
<div class="row">
    <div class="col-md-12">{{debug}}</div>
</div>
{% endif %}

</div>
</body>
</html>
