<table border="1">
<tr><td colspan="2">{% block topbar %} {% endblock %}</td></tr>
<tr>
<td width=10% valign="top">
{% block sidebar %}
<a href="{% url 'newClient' %}">New Client</a><br>
<a href="{% url 'listClients' %}">Existing Clients</a><br>
<a href="{% url 'displayThisMonth' %}">View Calendar</a><br>
<a href="{% url 'generateAllVisits' %}">Initialise Calendar</a><br>
{% endblock %}
</td><td>
{% block content %}
ContentBlock
{% endblock %}
</td>
</tr>
<tr><td colspan="2">{{debug}}</td></tr>
</table>
