{% extends "base/base.html" %}
{% block subbuttonbar %}
<div class="row">
    <div class="col-md-1">
        <a href="{% url 'clientIndex' %}"><button type="button" class="btn btn-info btn-sm">Clients</button></a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'clientNew' %}"><button type="button" class="btn btn-primary btn-sm">New</button></a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'clientList' %}"><button type="button" class="btn btn-primary btn-sm">Existing</button></a>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row">
    {% block client_content %}
    Client Content
    {% endblock %}
    </div>
{% endblock %}
