{% extends "base/base.html" %}
{% block content %}
<table border=1>
{% include "client/client_view.html" %}
<tr>
<td><a href="{%url 'updateClient' client.id %}">Update Client Details</a></td>
<td><a href="{%url 'clientGenerateVisits' client.id %}">Generate Visits</a></td>
</tr>
<tr>
<td><a href="{%url 'clientDelete' client.id %}">Delete Client</a></td>
<td>
{% if visits %}
    <a href="{%url 'clientDeleteVisits' client.id %}">Delete all Visits</a>
{% endif %}
</td>
</tr>
{% for visit in visits %}
    <tr><td colspan="2">{% include "visit/visit_view.html" %}</td></tr>
{% endfor %}
</table>
{% endblock %}
{% block rightbar %}
{% include "client/month.html" %}
{% endblock %}
