{% extends "client/client_base.html" %}
{% block client_content %}
    <div class="row">
        <div class="col-md-5">
            {% include "client/client_view.html" %}
        </div>
        <div class="col-md-5">
            {% include 'report/month.html' %}
        </div>
    </div>
    {% for visit in visits %}
        <div class="row">
            <div class="col-md-5">
                {% include "visit/visit_view.html" %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
