{% extends "client/base.html" %} 
{% block content %} 


<div class="month">
<table border=1>
<tr>
<td> <a href= "{% url "displayYearMonthPage" year month "prev" %}">&lt;&lt; Prev</a></td>
<td colspan="5" align="center"> <strong>{{ mname }} {{ year }}</strong></td>
<td><a href= "{% url "displayYearMonthPage" year month "next" %}">Next &gt;&gt;</a></td>
</tr>
<tr>
<td class="empty">&nbsp;Mon&nbsp;</td>
<td class="empty">&nbsp;Tue&nbsp;</td>
<td class="empty">&nbsp;Wed&nbsp;</td>
<td class="empty">&nbsp;Thu&nbsp;</td>
<td class="empty">&nbsp;Fri&nbsp;</td>
<td class="empty">&nbsp;Sat&nbsp;</td>
<td class="empty">&nbsp;Sun&nbsp;</td>
</tr>

{% for week in month_days %}
    <tr>
    {% for day, visits, current, gap, d in week %}
        <!-- TD style: empty | day | current; onClick handler and highlight -->
        <td class= {% if day == 0 %}"empty"{% endif %}
        {% if day != 0 and not current %}"day"{% endif %}
        {% if day != 0 and current %}"current"{% endif %}
        {% if day != 0 %}
            onClick="parent.location='{% url "displayDay" year month day %}'"
            onMouseOver="this.bgColor='#eeeeee';"
            onMouseOut="this.bgColor='white';"
        {% endif %} %>

        <!-- Day number and entry snippets -->
        {% if day != 0 %}
        <table>
            <tr valign="top"><td>{{ day }}</td></tr>
        {% for visit in visits %}
            <tr><td>
            <font color={% if visit.good %}"black"{% else %}"red"{%endif%}>
                <a href="{% url "detailClient" visit.client.id %}"><b>{{ visit.client.name }}</b></a>:
                {{ visit.client.get_duration_display }}
            </font>
            </td></tr>
        {% endfor %}
        </table>
        {% endif %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<div
class="clear"></div>
</div>
{% endblock %} 
