{% extends "base/base.html" %}
{% block subbuttonbar %}
<div class="row">
    <div class="col-md-1">
        <a href="{% url 'gapIndex' %}" role="button" class="btn btn-info btn-sm">Gaps</a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'gapNew' %}" type="button" class="btn btn-primary btn-sm">New</a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'gapList' %}" type="button" class="btn btn-primary btn-sm">Existing</a>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block gap_content %}
    {% endblock %}
{% endblock %}
