<div class="panel panel-info">
    <div class="panel-heading">{{gap.desc}}</div>
    <div class="panel-body">
        {{gap.start}} - {{gap.end}}
        {% if gap.recurring %}
            Recurring
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'gapUpdate' gap.id %}" type="button" class="btn btn-primary btn-sm">Edit</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'gapDelete' gap.id %}" type="button" class="btn btn-warning btn-sm">Delete</a>
        </div>
    </div>
</div>
